<h1>Mes cocktails</h1>
<ul class="list-group">
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail), class:'list-group-item' %>
<% end %>
</ul>
<%= link_to "Nouveau cocktail", new_cocktail_path, class: 'btn btn-primary' %>
