<div class="container">
  <h1 class="text-center">Mes cocktails
  <%= link_to "Nouveau cocktail", new_cocktail_path, class: 'btn btn-success' %></h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: url(<%= cocktail.photo? ? cl_image_path(cocktail.photo.path) : image_path("#{cocktail.name.downcase.gsub(" ", "-")}.jpg") %>);" %>
            <%= link_to cocktail.name, cocktail_path(cocktail), class:'card-link' %>
            <div class="rating">
              <% cocktail.rating.round.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
              <% (5 - cocktail.rating.round).times do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="votes">
              <%="(#{cocktail.votes} votes)" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
