<div class="container">
<h1>Créez un super cocktail ! &nbsp;<%= link_to "Menu", cocktails_path, class:'btn btn-primary' %></h1>

<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>
</div>
