.card {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -10px;
  margin-left: -10px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    opacity: 0.5;

  }
}

.card a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.card-link {
  padding: 10px 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.fa-times {
  color: #DFDFDF;
  &:hover {
    color: #DE0000;
  }
}
