.card {
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: -10px;
  margin-left: -10px;
  height: 150px;
  background-color: #BDBDBD;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
  .rating {
    position: absolute;
    bottom: 10px;
    right : 20px;
    .fa {
      color: white;
    }
  }
  .votes {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
}

.card a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.card-link {
  padding: 10px 10px;
  position: absolute;
  border-radius: 10px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.fa-times {
  color: #DFDFDF;
  &:hover {
    color: #DE0000;
  }
}

.rating.fa {
  color: #DFDFDF;
}

.rating-yellow.fa {
  color: #32B796;
}

.rating-green.fa {
  color: #32B796;
}

.delete {
  position : absolute;
  top: 10px;
  right: 13px;
  .fa {
    font-size: 14px;
    color: white;
    &:hover {
      color: #F40000;
    }
  }
}
